body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  font-size: small;
  margin: 0px;
  height:100%;
}

.gwt-DatePicker {
  margin:20px;
}

.gwt-DecoratedTabPanel {
   margin:20px;
}

.gwt-TabPanelBottom {
   border-style: none;
}

.tree-treePanel {
  margin-left:20px;
}